@page {
	size: 13.5cm 21.5cm;	
}

@page {
  @bottom-center { content: counter(page); }
}

body {
  font: normal 1em/2.5em "Times New Roman", serif;
  margin: 0 auto;
  max-width: 8.5in;
  text-align: justify; 
}

h1:before {
	display: block;
	content: " Chapitre " attr(numbering) " \A"; }

h1 {
	page-break-before: left;
	text-align: center;
  	font-size: 2.2857em;
  	margin: .6563em 0; }

h1:first-child {
	page-break-before: avoid; }

h2 {
  font-size: 1.7143em;
  margin: .875em 0; }

h3 {
  font-size: 1.5em;
  margin: 1em 0; }

h4 {
  font-size: 1.2857em;
  margin: 1.1667em 0; }

h5 {
  font-size: 1.15em;
  margin: 1.3em 0; }

h6 {
  font-size: 1em;
  margin: 1.5em 0; }

body, p, td, div {
  color: #111111;
  font-family: "Times New Roman", serif;
  line-height: 1em;
  word-wrap: break-word; }

h1, h2, h3, h4, h5, h6 {
  color: #111111;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5em; }

img {
  display: block;
  margin: 0 auto;
  height: 150px; }

p {
font-size: 11pt;
  text-indent: 40px; }

p:before {
  content: attr(numbering) " "; }

.olist, .ulist {
  line-height: 1em; }

.olist_0, .ulist_0 {
  text-indent: 20px; }

.olist_1, .ulist_1 {
  text-indent: 40px; }

.olist_2, .ulist_2 {
  text-indent: 60px; }

.olist_3, .ulist_3 {
  text-indent: 80px; }

.olist_4, .ulist_4 {
  text-indent: 100px; }

.olist_5, .ulist_5 {
  text-indent: 120px; }

.olist_6, .ulist_6 {
  text-indent: 140px; }

.blockquote {
    font-style: italic;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
    color: #000000;
    border-left: 7px solid #b83131;
    background: #ebebeb;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

div.blockquote > p {
	text-indent: 0;
    margin-bottom: 5px;
    margin-top: 0;
}



